<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>
			aaaaaaaaaaa
		</title>

		<script>
			var coverSupport = 'CSS' in window && typeof CSS.supports === 'function' && (CSS.supports('top: env(a)') || CSS
				.supports('top: constant(a)'))
			document.write(
				'<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0' +
				(coverSupport ? ', viewport-fit=cover' : '') + '" />')
		</script>
		<script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js">
		</script>
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
		 <script src="http://danml.com/js/download2.js"></script>
		<script src="./static/js/DPlayer.min.js"></script>
		<!-- <link rel="stylesheet" href="<%= BASE_URL %>static/index.<%= VUE_APP_INDEX_CSS_HASH %>.css" /> -->
	</head>
	<body>
		<div id="app">
			<div id="dplayer" ref="dplayer">
			</div>
		</div>
	</body>
	<script>
		this.dp = new DPlayer({
			container: document.getElementById('dplayer'),
			autoplay: true,
			theme: '#FADFA3',
			loop: true,
			lang: 'zh-cn',
			screenshot: true,
			hotkey: true,
			preload: 'auto',
			volume: 0.7,
			mutex: true,
			video: {
				url: "https://gjzzhjzp.oss-cn-beijing.aliyuncs.com/timeline/3%282%29.mp4",
				type: 'auto',
			},
			// 暂时不支持字幕
			// subtitle: {
			// 	url: 'http://47.108.224.146/jzzm/2020/20200501.ass',
			// 	type: 'ass',
			// 	fontSize: '25px',
			// 	bottom: '10%',
			// 	color: '#b7daff',
			// },
			danmaku: {
				// id: "123456",
				// api: 'getdanmu',
				// maximum: 10000,
				// user: 'jzp',
				// bottom: '15%',
				// unlimited: false,
			}
		});
	</script>
	<script src="./static/mui/js/mui.js"></script>

</html>
