.jz-container {
	padding: 10px;
}

.u-search .u-action.u-action-active {
	position: absolute;
	   right:18px;
	    border: 1px solid;
	    border-radius: 20px;
	    color: #fff;
	    background: #7275D3;
	    padding: 2px 6px;
	    width: 50px !important;
	    line-height: 20px;
}
.sy-u-search{
	flex: 1;
}
.sy-u-search .u-search .u-action.u-action-active{
	 right: 47px !important;
	 
}
