.jz-container {
	padding: 0px 10px;
}

.u-search .u-action.u-action-active {
	position: absolute;
	   right:18px;
	    border: 1px solid;
	    border-radius: 20px;
	    color: #fff;
	    background: #7275D3;
	    padding: 2px 6px;
	    width: 50px !important;
	    line-height: 20px;
}
.sy-u-search{
	flex: 1;
}
.sy-u-search .u-search .u-action.u-action-active{
	 right: 47px !important;
	 
}
.jz-navbar-title{
	text-align: center;
	    color: rgb(114, 117, 211);
	    font-size: 14px;
	    position: absolute;
	    top: 0px;
	    bottom: 0px;
	    width: 100%;
	    left: 0px;
	    right: 0px;
	    line-height: 44px;
}
.menu-scroll-view{
	border-right: 1px solid #7275d3;
}